{% extends 'base.html' %}
{% load static %}

{% block title %} Объявление {% endblock %}

{% block content %}
  <div class="container" style="margin: 50px;">
    <div class="display-2">
      <span class="badge bg-primary">Объявление пользователя {{ adv.user }}</span>
    </div>
  </div>
  <div class="col offset-2">
    <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="#" class="nav-link">
            <img src="{% if adv.image %} {{ adv.image.url }} {% else %} {% static 'img/aidv.png' %} {% endif %}" class="img-fluid rounded-start" alt="Card title">
          </a>
        </div>
        <div class="col">
          <div class="card-body">
            <h5 class="card-title">
              <a href="#" class="nav-link"><strong>{{ adv.title }}</strong></a>
            </h5>
            <p class="card-text">{{ adv.description }}</p>
            <span>Автор: {{ adv.user }}</span>
            <p class="card-text"><small class="text-muted">Размещено: {{ adv.created_at }}</small></p>
            <span>Цена: {{ adv.price }} ₽</span>
            <br>
            {% if adv.auction %}
                <span>Торг: Уместен</span>
            {% else %}
                <span>Торг: Неуместен</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
