{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %} Войти {% endblock %}
</head>
<body>
{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-8" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Страница авторизации пользователя</span>
      </div>
    </div>
  </div>
    <form method="post">
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Username</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="text" class="form-control form-control-lg">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Password</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="password" class="form-control form-control-lg">
          </div>
        </div>
      </div>
      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
</body>
</html>